.input:focus {
}

.input {
    display: flex;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {

}

.errorInput:focus {
    border-color: #cc0000;
}

.error {
    font-size: 14px;
    color: #CC1439;
    display: flex;
    flex-direction: column-reverse;
}
